<style>

.toolbar-button {

    cursor:pointer;
    padding:8px;
    display:-webkit-flex;display:-moz-flex;display:-ms-flexbox;display:flex;
    justify-content:center;
    flex-grow: 1;
    min-width:5em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

}

.toolbar-button:hover {

    background-color: #d0ae96;

}

.toolbar-button > span {

    -webkit-align-self:center;align-self:center;
    font-size: 32px;

}

.toolbar-selected {
    font-weight: bold;
    border-top-style: solid;
    border-top-width: 5px;
    border-top-color: transparent;
    border-bottom-style: solid;
    border-bottom-width: 5px;
    border-bottom-color: white;
}

</style>

<div ng-controller="HeaderCtrl" class="unselectable">

    <div class="toolbar">

        <div class="toolbar-button" ng-navigate="/users" ng-class="{ 'toolbar-selected': isActive('/users')}"><span class="material-icons">people</span></div>
        <div class="toolbar-button" ng-navigate="/venues" ng-class="{ 'toolbar-selected': isActive('/venues')}"><span class="material-icons">place</span></div>
        <div class="toolbar-button" ng-navigate="/settings" ng-class="{ 'toolbar-selected': isActive('/settings')}"><span class="material-icons">settings</span></div>

    </div>

    <div class="hide-xs-block toolbar-fixer">&nbsp;</div>

</div>
