<style>

    html, body, .ng-scope {

        height: 100%;
        width: 100%;
        margin: 0;
    }

    body {

        background-color: #b57b53;
        color: white;

    }

    .quitButton {

        width:40px;
        height:40px;
        position:fixed;
        top:0px;
        right:0px;
        font-size:24px;
        cursor:pointer;
        background-color: transparent;
        border-width: 0px;
        color: white;

    }

    .quitButton:hover {

        color:#d0ae96;

    }

</style>

<button ng-if="quit" ng-click="quit()" class="quitButton">&#10006;</button>

<div style="display:flex;flex-direction:column;justify-content:center;text-align:center;">

    <div style="font-size:60px;text-align:center;margin:8px;">cocafes</div>
    <div style="margin-top:24px;margin-bottom:48px;">Find friends working near you</div>
    <button ng-click="loginWithFacebook()" style="font-size:16px;border:0px;height:48px;margin:16px;" class="clickable">LOGIN WITH FACEBOOK</button>
    <div style="height:48px;"></div>

</div>
