<style>

    .floatingActionButton {

        cursor: pointer;
        color: white;
        border-radius: 64px;
        border-bottom-style: solid;
        border-width: 0px;
        border-bottom-width: 2px;
        border-bottom-color: #d1d6d8;
        position: fixed;
        bottom: 16px;
        right: 16px;
        width: 64px;
        height: 64px;
        z-index: 999;

    }

</style>

<div ng-include src="'views/header.html'"></div>
<div style="position:fixed;width:100%;height:100%;z-index: 999;display:flex;flex-direction:column;align-items:center;justify-content:center;" ng-if="!venues">
    <div class="loader" style="margin-bottom:64px;"></div>
</div>

<div style="display:flex; flex-direction:column;align-items: stretch;padding:8px;">

    <div class="clickable flex align-items-center" style="overflow:hidden;background:color:white;height:64px;margin-bottom:8px;padding-right:8px;" ng-repeat="venue in venues" ng-click="showGoogleMaps(venue)" ng-right-click="showVenue(venue)" ng-long-click="showVenue(venue)" ng-long-touch="showVenue(venue)">

        <div class="flex" style="height:48px;min-width:48px;width:48px;border-radius:48px;margin:8px;background:{{venue.color}};"><span class="align-self-center" style="width:100%;text-align:center;color:white;font-size:32px;text-transform:uppercase;">{{venue.initial}}</span></div>
        <div>
            <div style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;">{{venue.name}}</div>
            <div style="font-size:12px;max-height:28px;overflow: hidden;text-overflow: ellipsis;" ng-show="venue.distance">{{venue.distance | howFar}}</div>
        </div>

    </div>

</div>

<div class="coral floatingActionButton" ng-navigate="/search-venue"><span class="material-icons" style="padding:16px;font-size:32px;">add</span></div>
