/* Material icons */
@font-face{font-family:'Material Icons';font-style:normal;font-weight:400;src:url(../bower_components/material-design-icons/iconfont/MaterialIcons-Regular.eot);src:local('Material Icons'),local('MaterialIcons-Regular'),url(../bower_components/material-design-icons/iconfont/MaterialIcons-Regular.woff2) format('woff2'),url(../bower_components/material-design-icons/iconfont/MaterialIcons-Regular.woff) format('woff'),url(../bower_components/material-design-icons/iconfont/MaterialIcons-Regular.ttf) format('truetype')}.material-icons{font-family:'Material Icons';font-weight:400;font-style:normal;font-size:24px;display:inline-block;width:1em;height:1em;line-height:1;text-transform:none;letter-spacing:normal;word-wrap:normal;white-space:nowrap;direction:ltr;-webkit-font-smoothing:antialiased;text-rendering:optimizeLegibility;-moz-osx-font-smoothing:grayscale;font-feature-settings:'liga'}

body, html {

    height: 100%;
    width: 100%;
    margin: 0;
    background-color: #dce1e3;
    color: #626262;
    font-family: 'Roboto', sans-serif;

    -webkit-touch-ctextout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;

}

.flex {
    display:-webkit-flex;display:-moz-flex;display:-ms-flexbox;display:flex;
}

.flex-column {
    display:-webkit-flex;display:-moz-flex;display:-ms-flexbox;display:flex;
    flex-direction: column;
    -webkit-flex-direction: column;
}

.flex-grow-one {
    -webkit-box-flex:1;-webkit-flex-grow:1;-ms-flex-positive:1;flex-grow:1;
}

.flex-grow-two {
    -webkit-box-flex:2;-webkit-flex-grow:2;-ms-flex-positive:2;flex-grow:2;
}

.flex-shrink-two {
    -webkit-flex-shrink:2;flex-shrink:2;
}

.align-items-center {
    -webkit-align-items:center;align-items: center;
}

.align-items-stretch {
    -webkit-align-items:stretch;align-items: stretch;
}

.align-items-flex-end {
    -webkit-align-items:flex-end;align-items:flex-end;
}

.align-self-center {
    -webkit-align-self:center;align-self:center;
}

.align-self-stretch {
    -webkit-align-self:stretch;align-self:stretch;
}

.justify-content-center {
    -webkit-justify-content:center;justify-content:center;
}

.card-expanded {

    height: 48px;
    background-color: white;
    padding: 8px;

}

.clickable {

    background-color:white;
    cursor: default;
    -webkit-touch-ctextout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

}

.clickable:not(.disabled):hover {

    background: #ade1f5;
    cursor: pointer;

}

.clickable:not(.disabled):active {

    background: #85d3ef;
    cursor: pointer;

}
